* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.container {
  background: #ffffff;
  padding: 25px;
  width: 360px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #222;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.select-box {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 4px;
  width:fit-content
}

.select-box img {
  width: 32px;
  height: 22px;
  object-fit: cover;
}

select {
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

#convert {
  background: #203a43;
  color: #ffffff;
}

#swap {
  background: #eeeeee;
  margin-bottom: 10px;
}

#rate {
  margin-top: 12px;
  text-align: center;
  font-weight: 500;
}
#convertBtn{
    background:rgb(89, 201, 110);
}